/*
font downloaded from google fonts for the website so there are always accessible
adds the font for css
*/
@font-face {
    font-family: 'Damion';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../media/fonts/Damion/Damion-Regular.ttf);
}